@model MCT.Web.Models.CultureModel


<div class="form-horizontal culture">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id, new { @class = "culture-id" })
    @Html.HiddenFor(model => model.Type, new { @class = "culture-type" })

    <div class="form-group">
        <div class="col-md-2">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { placeholder = "Name", @class = "form-control mct-ac-subjects culture-name" } })

            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-1">
            <a class="fa fa-trash mct-button-icon" onclick="removeCulture(this)"></a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //ac = autocomplete
        $.get("/Subject/GetAllSubjects",
            function (response) {

                $(".mct-ac-subjects")
                    .autocomplete({
                        source: response
                    });
            },
            "json"
        );
    })
</script>