<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/font-awesome.min.css")
    @Styles.Render("~/Content/fullcalendar.css")
    @Styles.Render("~/Content/jquery-ui.css")
    @Styles.Render("~/Content/typeahead.css")


    @Styles.Render("~/Content/DataTables/css/jquery.dataTables.css")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")

    @*<link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
        <script src='lib/jquery.min.js'></script>
        <script src='lib/moment.min.js'></script>
        <script src='fullcalendar/fullcalendar.js'></script>*@

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mixed Culture Tool", "Index", "Test", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @Html.Partial("_navbar")
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gantt")
    @Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
    @Scripts.Render("~/Scripts/isotope.pkgd.min.js")
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/fullCalendar/fullcalendar.min.js")
    @*@Scripts.Render("~/Scripts/jquery-ui-1.8.9.custom.min.js")*@
    @Scripts.Render("~/Scripts/MCT/mct-basic.js")

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/typeahead.jquery.js")
    @Scripts.Render("~/Scripts/snap/snap.svg.js")
    @Scripts.Render("~/Scripts/MCT/mct-patch-planer.js")

    

    @RenderSection("scripts", false)
</body>
</html>
