
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">


        <li>@Html.ActionLink("Lexikon", "Search", "Search", new { reset = true }, null)</li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="Button" aria-haspopup="true" aria-expand="false">
                Erstellen<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Pflanze", "CreatePlant", "Subject")</li>
                <li>@Html.ActionLink("Tier", "CreateAnimal", "Subject")</li>
                <li>@Html.ActionLink("Interaktion", "Edit", "Interaction")</li>
                <li>@Html.ActionLink("Prädikat", "Create", "Predicate")</li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="Button" aria-haspopup="true" aria-expand="false">
                Beet Planer<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Alle Beete", "Index", "Patch")</li>
                <li>@Html.ActionLink("Neues Beet", "Create", "Patch")</li>
                <li></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="Button" aria-haspopup="true" aria-expand="false">
                Datenübersicht<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Taxon Tree", "Index", "Tree")</li>
                <li>@Html.ActionLink("Season Calendar", "Index", "Calendar")</li>
                <li>@Html.ActionLink("Interaktionen", "ShowInteractions", "Interaction")</li>
                <li>@Html.ActionLink("Prädikate", "Index", "Predicate")</li>
                <li></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="Button" aria-haspopup="true" aria-expand="false">
                Entwickler <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Spielwiese", "Index", "Test")</li>
                <li>@Html.ActionLink("Daten erzeugen", "Index", "Data")</li>
                <li></li>
            </ul>
        </li>

    </ul>
</div>
