@using System.Diagnostics
@model MCT.Web.Models.PlantModel
@using MCT.DB.Entities;

@{
    ViewBag.Title = "Plant";
}
<div id="DetailsHeader" class="jumbotron">
    <h2>@Html.DisplayFor(model => model.Name)</h2>form-control
    <h2>@Html.EditorFor(model => model.Name)</h2>
    <h3>@Html.DisplayFor(model => model.ScientificName)</h3>
    <h2>@Html.EditorFor(model => model.ScientificName)</h2>

    <h4>@Html.DisplayFor(model => model.TaxonRank)</h4>
    <h2>@Html.EnumDropDownListFor(model => model.TaxonRank)</h2>

</div>
<div id="DetailsContent" class="row">
    <div id="Image" class="col-md-4">
        <img src="@Model.ImagePath" class=" speciesImage img-responsive " />
    </div>
    <div class="col-md-8">
        <div id="Description" class="col-md-12">
            <h4>Beschreibung</h4>
            @Html.DisplayFor(model => model.Description)
            @Html.EditorFor(model => model.Description)
        </div>

        <div id="TaxonRanks" class="col-md-12">
            <h4>Taxon</h4>
            @if (Model.Parent != null) { 
                @Html.Partial("_taxonRankPartialView", Model.Parent)
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">

        <h4>Details</h4>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Width)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Width)
                @Html.EditorFor(model => model.Width)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Height)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Height)
                @Html.EditorFor(model => model.Height)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RootDepth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RootDepth)
                @Html.EnumDropDownListFor(model => model.RootDepth)


            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NutrientClaim)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NutrientClaim)
                @Html.EnumDropDownListFor(model => model.NutrientClaim)


            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SowingDepth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SowingDepth)
                @Html.EditorFor(model => model.SowingDepth)
            </dd>
        </dl>
    </div>
</div>

<div class="row">
    <h4>Termine</h4>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Bloom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bloom)
            @Html.EditorFor(model => model.Sowing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sowing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sowing)
            @Html.EditorFor(model => model.Sowing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Harvest)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Harvest)
            @Html.EditorFor(model => model.Harvest)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeedMaturity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeedMaturity)
            @Html.EditorFor(model => model.SeedMaturity)
           
        </dd>
    </dl>
</div>

<div class="row">
    <h4>Vorkultur</h4>

    @foreach(var p in Model.PreCultures)
    {
        @Html.ActionLink(p.Name, "Details", new { id = p.Id, type = p.Type })<br/>
        
    }

    @Html.EditorFor(model => model.PreCultures)

    <h4>Nachkultur</h4>

    @foreach (var p in Model.AfterCultures)
    {
        @Html.ActionLink(p.Name, "Details", new { id = p.Id, type = p.Type })<br />
    }

    @Html.EditorFor(model => model.AfterCultures)

</div>

@if (Model.Interactions != null)
{
    @Html.Partial("_interactionsOverViewPartialView", model: Model.Interactions);
}


<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Search")
</p>

<style type="text/css">
.row {
    margin-bottom: 20px;
}
    
.speciesImage {
        
    width:  390px;
    height: 390px;
    text-align: center;
}

</style>