@model MCT.Web.Models.SimpleLinkModel

<div class="form-horizontal simplelinkmodel">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-1" })
        <div class="col-md-3">
            @Html.EditorFor(model => model.Name, new { placeholder = @Html.LabelFor(model=>model.Name), @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-1">
            <a class="fa fa-trash mct-button-icon" onclick="removeSimpleLink(this)"></a>
        </div>
    </div>
</div>