@{

    string headerClassName = "patch-planer-search-header";
    string btnClass = "btn btn-lg btn-block detailsBtn";
    string iconClass = "icon fa fa-";

    if (Model.Type == MCT.Web.Models.SubjectType.Plant)
    {
        headerClassName += "plant";
        btnClass += "plant";
        iconClass += "leaf";

    }

    //if (Model.Type == MCT.Web.Models.SubjectType.Animal)
    //{
    //    headerClassName += "animal";
    //    btnClass += "animal";
    //    iconClass += "bug";
    //}

    //if (Model.Type == MCT.Web.Models.SubjectType.Taxon)
    //{
    //    headerClassName += "taxon";
    //    btnClass += "taxon";
    //    iconClass += "sun-o";
    //}


}

@model MCT.Web.Models.PlantModel


@{ 
    string name = "noname";
    string abbr = "NaN";

    if (!string.IsNullOrEmpty(@Model.Name))
    {
        name = Model.Name;
    }

    if (!String.IsNullOrEmpty(Model.Name))
    {
        abbr = "";

        foreach (char letter in Model.Name)
        {
            if (Char.IsUpper(letter))
            {
                abbr += letter;
            }
        }
    }
}

<div id="@Model.Id" class="media content patch-planer-search-result-element col-xs-11" >

    <div class="media-left media-middle">
        <span class="media-object abbr">@abbr</span>
    </div>

    <div class="media-body">
        <h4 class="media-heading">
            @Html.ActionLink(@name, "Details", "Subject", new { id = Model.Id, type = @Model.Type.ToString() }, new { target = "blank" })
        </h4>
        <span class="additional-info">(@Model.Width x @Model.Height)</span>
    </div>

    <div class="media-right media-middle">
        <div plantid="@Model.Id" class="media-object add-plant-to-patch-bt fa fa-plus mct-button-icon" onclick="addPlantToPatch(this)"></div>
    </div>

</div>

<style type="text/css">

    .media {
        padding-left:0;
    }

    .media-left {
        padding-left:10px;
        border-right:1px solid yellowgreen;
    }

    .abbr {
        
        text-align:center;
        width:30px;
        font-weight:bolder;
    }
    .media-body {
        padding:10px 0 5px 10px;
    }
    .additional-info {
        font-size:10px;
    }

</style>