@model MCT.Web.Models.PatchPlaner.PatchPlanerModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@*Patch Planer: @Model.Patch.Name (@Model.Patch.Id)*@</h2>

<div id="@Model.Patch.Id" class="patch-planer-container row">
    <div id="patch-planer-search-container" class="col-lg-3">
        @Html.Partial("Search", Model.Search)
    </div>

    <div class="patch-planer-middle col-lg-8">
        <div id="patch-planer-legend">
            legende
        </div>
        @Html.Partial("Patch", Model.Patch)
        <div id="patch-planer-patch-container">
          
        </div>
    </div>
</div>


<style type="text/css">

    .patch-planer-middle {
        height:80vh;
    
    }
    #patch-planer-legend {
        height:23vh;
    }

    .patch-planer-patch-container {
        /*height:450px;*/
        height:55vh;
    }

    #patch-planer-search-container {
        background-color:#efefef;
        height:80vh;
    }

</style>