@{

    string headerClassName = "header";
    string btnClass = "btn btn-lg btn-block detailsBtn";

    if (Model.Type == SpeciesType.Plant)
    {
        headerClassName += "plant";
        btnClass += "plant"; 
    }

    if (Model.Type == SpeciesType.Animal)
    {
        headerClassName += "animal";
        btnClass += "animal"; 
    }

}
@using MCT.Web.Models.Search
@model MCT.Web.Models.Search.SpeciesModel

<div id="@Model.Id" class="content @Model.Type.ToString().ToLower() col-lg-3 col-xs-12 col-sm-6 col-md-3" >
    <div class="@headerClassName" >
        <h3 class="name">@Model.Name</h3>
    </div>
    <h5 class="type">@Model.Type</h5>
    <h4 class="scientificName">@Model.ScientificName</h4>
    <img class="speciesImage" src="@Model.ImagePath" class="img-responsive " />
    <div class="details">
        <p class="description">@Model.Description</p>
    </div>
        @Html.ActionLink("Details", "Details", new { id = Model.Id, type = @Model.Type.ToString() }, new { @class = @btnClass })
</div>
