@{
    
    
}
@model MCT.Web.Models.Search.SubjectModel
@using MCT.Web.Models;

<div id="@Model.Id" class="item @Model.Type.ToString().ToLower()" onclick="OnClickSubject(@Model.Id)">
    <b class="name" style="margin-left:5px">@Model.Name</b>
    <div style="text-align:center">
        <img src="@Model.ImagePath" width="140" height="140" />
    </div>
    <div class="details" hidden="hidden">
        <p class="description">@Model.Description</p>
        <p class="type" hidden="hidden">@Model.Type.ToString()</p>
        @Html.ActionLink("Details", "Details", new { id = Model.Id, type = @Model.Type.ToString() }, new { @class = "btn btn-info btn-lg btn-block" })
    </div>
</div>


<style type="text/css">
    .item {
        border-top-style: solid;
        width: 150px;
        height: 170px;
    }

    .item.effect {
        background-color: greenyellow;
    }

    .item.plant {
        background-color: lightskyblue;
    }

    .item.animal {
        background-color: darkorange;
    }

        .item.gigante {
          width: 250px;
          height: 400px;
          background: #F80;
        }

        .item:hover {
          background: #EEE;
          cursor: pointer;
        }
</style>

<script type="text/javascript">

    function OnClickSubject(e) {
        $("#"+e).find('.details').toggle();
    }


</script>