@model IEnumerable<MCT.Web.Models.InteractionModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Indicator)
        </th>
        <th>
            Subject
        </th>
        <th>
            Predicate
        </th>
        <th>
           Object
        </th>
        <th>
            ImpactObject
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.EditorFor(modelItem => item.Indicator, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td>
            @Html.EditorFor(modelItem => item.Subject.Name, new { htmlAttributes = new { @class = "form-control mct-ac-subjects" } })
        </td>
        <td>
            @Html.EditorFor(modelItem => item.Predicate.Name, new { htmlAttributes = new { @class = "form-control mct-ac-predicates" } })
            @Html.EnumDropDownListFor(modelItem => item.Predicate.Type, new { @class = "form-control dropdown" })
        </td>
        <td>
            @Html.EditorFor(modelItem => item.Object.Name, new { htmlAttributes = new { @class = "form-control mct-ac-subjects" } })
        </td>
        <td>
            @Html.EditorFor(modelItem => item.ImpactSubject.Name, new { htmlAttributes = new { @class = "form-control mct-ac-subjects" } })
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}
</table>

