@{


}
@model MCT.Web.Models.Search.SpeciesModel

<div id="@Model.Id" class="@Model.Type.ToString().ToLower() col-lg-3 col-xs-4 col-md-3" style="border-top:solid ">
    <div class="header" >
        <h3 class="name">@Model.Name</h3>
    </div>
    <h5 class="name">@Model.Type</h5>
    <h5 class="name">@Model.ScientificName</h5>
    <img src="@Model.ImagePath" class="img-rounded" width="180" height="180" style="text-align:center" />
    <div class="details">
        <p class="description">@Model.Description</p>
        @*<p class="type" hidden="hidden">@Model.Type.ToString()</p>*@
        @Html.ActionLink("Details", "Details", new { id = Model.Id, type = @Model.Type.ToString() }, new { @class = "btn btn-info btn-lg btn-block" })
    </div>
</div>


<style type="text/css">
  
</style>

