@{
    ViewBag.Title = "Search";
}

@model MCT.Web.Models.Search.SearchModel

<h2>Search</h2>
<table id="SearchHeaderTable">
    <tr>
        <td>
            <div class="input-group">
                <input type="search" id="searchInput" class="form-control" placeholder="search..."/></input>
                <span class="input-group-addon">
                      <i class="fa fa-search"></i>
                </span>
            </div>
        </td>
        <td>
            Filter an/aus
        </td>
        <td>
            <input id="filterOptions" name="Filter on/off" type="checkbox" value="false" onclick="filterOptionsOnClick()" >
        </td>
        <td>
            @Html.ActionLink("Alle Anzeigen", "Search", "Search", new { @class = "btn btn-default" })
        </td>
        <td>
            Alle Species: @Model.Species.Count
        </td>
    </tr>
</table>

<div id="searchBreadcrumb">
    @Html.Partial("_searchBreadcrumb", new Dictionary<string, string>())
</div>

<div id="filter" style="display: none;">
    @Html.Partial("_searchFilterPartialView", Model.Filter)
</div>
<div id="searchResult">
    @Html.Partial("_searchResult", Model.Species.ToList())
</div>

<script type="text/javascript">

    $("#searchInput").keyup(function(e) {

        //alert("s:" + $("#searchInput").val() +" "+String.fromCharCode(e.keyCode) );

        var searchValue = $("#searchInput").val();
        $("#searchInput").attr("disabled");
        //alert(searchValue)
        if (searchValue.length >= 0) {
            $.post('@Url.Action("Search", "Search")', { searchValue: searchValue }, function(response) {

                $("#searchResultContent").replaceWith(response);
                $("#searchInput").removeAttr("disabled");
                UpdateBreadcrumb();
            });

        }

    });

    function UpdateSearch() {

        $.post('@Url.Action("UpdateSearch", "Search")', function(response) {

            $("#searchResultContent").replaceWith(response);

        });

    }

    function UpdateBreadcrumb() {

        $.post('@Url.Action("UpdateBreadcrumb", "Search")', function (response) {

            $("#searchBreadcrumbContent").replaceWith(response);

        });

    }

    function ClearSearchInput() {
        $('#searchInput').empty();
    }

    function filterOptionsOnClick() {
        $('#filter').toggle();
    }

</script>