@model MCT.Web.Models.InteractionSimpleModel

@{
    string title = "";

    if (Model.Id > 0)
    {
        title = "Edit Interaction";
    }
    else
    {
        title = "Create Interaction";
    }
}


@using (@Html.BeginForm("Save", "Interaction"))
{
    <div class="row panel-default panel-info">
        <div class="panel-heading">
            <h3>@title </h3>
        </div>

        @Html.HiddenFor(m=>m.Id)

        <div class="content col-md-8 panel-body">

            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Subject, new {htmlAttributes = new {@class = "form-control mct-ac-subjects"}})
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Predicate, htmlAttributes: new {@class = "control-label col-md-2"})
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Predicate, new {htmlAttributes = new {@class = "form-control mct-ac-predicates"}})
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.Predicate, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Object, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Object, new { htmlAttributes = new { @class = "form-control mct-ac-subjects" } })
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.Object, "", new { @class = "text-danger" })
                </div>
            </div>




            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ImpactSubject, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ImpactSubject, new { htmlAttributes = new { @class = "form-control mct-ac-subjects" } })
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.ImpactSubject, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Indicator, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Indicator, new { htmlAttributes = new { @class = "form-control " } })
                </div>
                <div class="col-md-4">
                    @Html.ValidationMessageFor(model => model.Indicator, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>

<button type="submit">save</button>
}

<script>
            $(document)
                .ready(function () {

                    //ac = autocomplete
                    $.get("/Interaction/GetAllSubjects",
                        function (response) {

                            $(".mct-ac-subjects")
                                .autocomplete({
                                    source: response
                                });
                        },
                        "json"
                    );

                    $.get("/Interaction/GetAllPredicates",
                        function (response) {

                            $(".mct-ac-predicates")
                                .autocomplete({
                                    source: response
                                });
                        },
                        "json"
                    );
                })

</script>
</script>