@model TimePeriod
@using MCT.DB.Entities

@{
    string id = Model.Id + "_Bloom";
}

<div id="@id" class="row">
    <div class="col-md-2">@Html.EnumDropDownListFor(m => m.StartArea, new { @class = "form-control dropdown" })</div>
    <div class="col-md-2">@Html.EnumDropDownListFor(m => m.StartMonth, new { @class = "form-control dropdown" })</div>
    <div class="col-md-2">@Html.EnumDropDownListFor(m => m.EndArea, new { @class = "form-control dropdown" })</div>
    <div class="col-md-2">@Html.EnumDropDownListFor(m => m.EndMonth, new { @class = "form-control dropdown" })</div>
    <div class="col-md-2">@Html.EnumDropDownListFor(m => m.Type, new { @class = "form-control dropdown" })</div>
</div>

